<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-10">
				<h2 class="details-header">
					{{model.name}} <small>{{model.description}}</small>
				</h2>
			</div>

			<div class="col-md-2">
				<button {{action 'edit'}} class="btn btn-info">
					{{fa-icon 'edit' fixedWidth=true}}
				</button>

				<button {{action 'delete'}} class="btn btn-danger">
					{{fa-icon 'trash' fixedWidth=true}}
				</button>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				{{liquid-outlet}}
			</div>
		</div>
	</div>
</div>
